<div class="col-md-10">
    <h1 ng-bind="strings.images.title"></h1>

    <p ng-bind="strings.images.description"></p>
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Version / Tag</th>
            <th>Created</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="image in images">
            <td><a href="" ng-click="open(image)" data-toggle="modal" data-target=".image-info-modal">{{
                image['Id'] | limitTo : 12
                }}</a></td>
            <td>{{ image['RepoTags'][0] | repoTagParse: 'name' }}</td>
            <td>{{ image['RepoTags'][0] | repoTagParse: 'tag' }}</td>
            <td>{{ image['Created'] * 1000 | date:"MM/dd/yyyy 'at' h:mma" }}</td>
            <td><a href="" ng-click="pickImage(image)"><span class="glyphicon glyphicon-arrow-right"></span></a></td>
        </tr>
        </tbody>
    </table>
</div>
<!-- Image information modal -->
<script type="text/ng-template" id="imageInfoModal.html">
    <div class="modal-header">
        <h3 class="modal-title"><i>
            <b><i><b>{{ selectedImage['RepoTags'][0] | repoTagParse: 'name' }}</b></i> details</b></i>
        </h3>
    </div>
    <div class="modal-body">
        <div id="imageInfoArea"></div>
    </div>
</script>
</div>