<div class="row">
    <wizard on-finish="finishedWizard()" edit-mode="wizardEditMode">
        <wz-step title="{{ strings.login.bullet }}" wz-disabled="{{ Authentication.loggedIn() }}">
            <div class="row" ng-controller="loginController">
                <div ng-include="template"></div>
            </div>
        </wz-step>
        <wz-step title="{{ strings.images.bullet }}">
            <div class="row" ng-controller="imagesController">
                <div ng-include="template"></div>
            </div>
        </wz-step>
        <wz-step title="{{ strings.config.bullet }}">
            <div class="row" ng-controller="configController">
                <div ng-include="template"></div>
            </div>
        </wz-step>
        <wz-step title="{{ strings.manage.bullet }}">
            <div class="row" ng-controller="manageController">
                <div ng-include="template"></div>
            </div>
        </wz-step>
    </wizard>
</div>