<div class="row">
    <wizard on-finish="finishedWizard()">
        <wz-step title="{{ strings.login.bullet }}" wz-disabled="{{ Authentication.loggedIn() }}">
            <div class="row">
                <div class="col-md-3 col-md-offset-4">
                    <h1 ng-bind="strings.login.title"></h1>

                    <p ng-bind="strings.login.description"></p>

                    <form ng-submit="loginOnSubmit()" name="loginForm" novalidate>
                        <formly-form model="model.login" fields="fields.login" form="loginForm">
                            <button type="submit" class="btn btn-primary submit-button"
                                    ng-disabled="loginForm.$invalid">Submit
                            </button>
                        </formly-form>
                    </form>
                </div>
            </div>
        </wz-step>
        <wz-step title="{{ strings.images.bullet }}">
            <div class="row">
                <div class="col-md-3 col-md-offset-4">
                    <h1 ng-bind="strings.images.title"></h1>
                    <p ng-bind="strings.images.description"></p>
                </div>
            </div>
        </wz-step>
        <wz-step title="{{ strings.config.bullet }}">
            <div class="row">
                <div class="col-md-3 col-md-offset-4">
                    <h1 ng-bind="strings.config.title"></h1>

                    <p ng-bind="strings.config.description"></p>
                </div>
            </div>
        </wz-step>
    </wizard>
</div>